<h1><%= t('panel.pages.about.title')%>  <%= link_to t('button.back').html_safe, admin_dashboard_path, class: "btn btn-default btn-lg" %></h1>
<%= form_for [:admin,@page] do |f| %>
<%= f.text_area :content, class: "form-control form-ecart", placeholder: t('panel.pages.about.placeholder.content'), rows: 30 %>
<%= f.submit t('button.save').html_safe, class: "btn btn-default btn-block btn-lg" %>
<% end %>
