<fieldset>
  <div class="row">
    <div class="col-md-8">
      <%= f.text_field :title, placeholder: "Title", class: "form-control form-ecart" %>
      <%= f.date_field :airing_from, placeholder: "Airing Form", class: "form-control form-ecart" %>
      <%= f.text_area :description, placeholder: "Desc", class: "form-control form-ecart", rows: 4 %>
    </div>
    <div class="col-md-4">
      <%= f.file_field :image %><br />
      <%= f.text_field :hummingbird_url, placeholder: "HummingBird", class: "form-control form-ecart" %>
      <%= f.text_field :official_url, placeholder: "Official", class: "form-control form-ecart" %>
      <%= link_to "Remove", '#', class: "remove_fields btn btn-danger btn-block btn-lg" %>
    </div>
  </div>
  <%= f.hidden_field :category, :value => "movie" %>
  <%= f.hidden_field :_destroy %>
  <hr />
</fieldset>
