<%= form_for [:admin, @season] do |f| %>
<h1>Edit period <%= f.submit t('button.save').html_safe, :class => "btn btn-success btn-lg" %> <%= link_to t('button.back').html_safe, admin_seasons_path, class: "btn btn-default btn-lg" %></h1>
<%= f.text_field :title, placeholder: "Period", class: "form-control form-ecart" %>
<%= f.text_area :notice, placeholder: "Message", class: "form-control form-ecart" %>
<h2><%= t('seasons.shows') %></h2>
<hr />
<%= f.fields_for :items, @season.items.where(category: "show") do |builder| %>
<%= render 'show_fields', f: builder %>
<% end %>
<%= link_to_add_fields(t('admin.seasons.add.show').html_safe , f, :items, "show")%>

<h2><%= t('seasons.specials') %></h2>
<hr />
<%= f.fields_for :items, @season.items.where(category: "special") do |builder| %>
<%= render 'special_fields', f: builder %>
<% end %>
<%= link_to_add_fields(t('admin.seasons.add.special').html_safe , f, :items, "special")%>

<h2><%= t('seasons.movies') %></h2>
<hr />
<%= f.fields_for :items, @season.items.where(category: "movie") do |builder| %>
<%= render 'movie_fields', f: builder %>
<% end %>
<%= link_to_add_fields(t('admin.seasons.add.movie').html_safe , f, :items, "movie")%>
<% end %>
