<h1><%= t('admin.seasons.title') %> <%= link_to t('admin.seasons.new').html_safe, new_admin_season_path, class: "btn btn-default btn-lg" %></h1>
<table class="table">
    <thead>
        <tr>
            <th style="width:5%;">#</th>
            <th style="width:70%;"><%= t('admin.seasons.season') %></th>
            <th style="width:5%;"><%= t('admin.seasons.items') %></th>
            <th style="width:20%;"><%= t('button.actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @seasons.each do |season| %>
        <tr>
            <td><%= season.id %></td>
            <td><%= season.title %></td>
            <td><%= season.items.count %></td>
            <td><%= link_to t('button.edit').html_safe, edit_admin_season_path(season) %> / <%= link_to t('button.delete').html_safe, [:admin, season], :method => "delete" %></td>
        </tr>
        <% end %>
    </tbody>
</table>
