<h1>Contact Form</h1>
<% if @contacts.count == 0 %>
<div class="notice notice-warning" >
  <p>No one here.</p>
</div>
<% else %>
<% @contacts.all.each do |contact| %>
<blockquote>
  <p><%= contact.message %></p>
  <footer><%= contact.name %> <cite title="Source"><%= contact.mail %></cite> // <%= contact.created_at %> >> <%= link_to "Delete &raquo;".html_safe, [:admin, contact], :method => 'delete' %></footer>
</blockquote>
<% end %>
<% end %>
