<h1><%= t('admin.title.contact_form') %></h1>
<% if @contacts.count == 0 %>
<div class="notice notice-warning" >
  <p><%= t('panel.contact.empty') %></p>
</div>
<% else %>
<% @contacts.all.each do |contact| %>
<blockquote>
  <p><%= contact.message %></p>
  <footer><%= contact.name %> <cite title="Source"><%= contact.mail %></cite> // <%= contact.created_at %> >> <%= link_to t('button.delete').html_safe, [:admin, contact], :method => 'delete' %></footer>
</blockquote>
<% end %>
<% end %>
