<header class="notice notice-info">
    <h1>Mikan : <%= @season.title %></h1>
    <p><%= @season.notice.html_safe %></p>
    <p><%= link_to t('page.seasons.suggest').html_safe, contact_path, class: "btn btn-primary" %> <%= link_to t('button.back').html_safe, seasons_list_path, class: "btn btn-success" %></p>
</header>

<div class="row">
  <div class="col-lg-7">
    <h3><%= t('page.seasons.shows') %></h3>
  </div>
  <div class="col-lg-5">
    <div class="btn-group" style="margin-top:15px;">
      <%= link_to t('page.seasons.order.alphabetical'), params.merge(:order => "title"), class: "btn btn-default" %>&nbsp;
      <%= link_to t('page.seasons.order.airing'), params.merge(:order => "airing_from"), class: "btn btn-default" %>&nbsp;
      <%= link_to t('page.seasons.order.latest'), params.merge(:order => "created_at"), class: "btn btn-default" %>&nbsp;
    </div>
  </div>
</div>
<hr />
<div class="row text-center">
  <% @animes.each do |show| %>
  <%= render "list", :show => show %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3><%= t('page.seasons.specials') %></h3>
  </div>
</div>
<hr />
<div class="row text-center">
<% @specials.each do |show| %>
<%= render "list", :show => show %>
<% end %>
</div >

<div class="row">
  <div class="col-lg-12">
    <h3><%= t('page.seasons.movies') %></h3>
  </div>
</div>
<hr />

<div class="row text-center">
<% @movies.each do |show| %>
<%= render "list", :show => show %>
<% end %>
</div>
