<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <!-- Navigation -->
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <%= li_link(t('panel.title.admin'),contributor_dashboard_path).html_safe %>
          <%= li_controller_link(t('panel.title.seasons'),contributor_seasons_path, "seasons").html_safe %>
          <%= li_link(t('panel.title.back').html_safe,root_path).html_safe %>
        </ul>
      </nav>
      <h3 class="text-muted">
        <%= link_to image_tag("mikan.png", :style => "width:50px;"), contributor_dashboard_path %> Mikan - <%= t('panel.users.account.contributor') %>
        <span id="language-selector">
          <%= language_selector(params[:locale]) %>
        </span>
      </h3>
    </div>
    <!-- Page Content -->
    <div class="content">
      <div id="flash-wrapper">
        <% if flash[:error] %>
        <div class="notice notice-alert">
          <%= flash[:error].html_safe %>
        </div>
        <% end %>
        <% if flash[:success] %>
        <div class="notice success">
          <%= flash[:success].html_safe %>
        </div>
        <% end %>
        <% if flash[:info] %>
        <div class="notice notice-info">
          <%= flash[:info].html_safe %>
        </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </div>
  <!-- /.container -->
</body>
</html>
